<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2a2c9b31-0a92-4c57-a60a-66688b8f574f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    <div class="col-10 col-offset-1">
      <div id="selectable-raffle-item-thumbnails">
        <% @rafles.each do |x| %>
          <div>
            <div class="panel no-border centered-content raffle-item-interspace">      
              <%=
                link_to image_tag(x.picture_url, :class => "raffle-item-thumbnail-img"), edit_raffle_path(:id => x.id) %>
            </div><!-- end panel -->
            <h6 class="centered-content raffle-thumbnail-text">
              <%=  x.name %>
            </h6>
          </div>
      <% end %>
      </div>
    </div>
  </div>				
