
  <div class="row top-row">			
    <div class="col-12">
      <div id="selectable-raffle-item-thumbnails">
        <% @rafles.each do |x| %>
          <div>
            <div class="panel no-border centered-content raffle-item-interspace">      
              <img src="/assets/winch12Vpower.jpg" class="raffle-item-thumbnail-img"/>
            </div><!-- end panel -->
            <h6 class="centered-content raffle-thumbnail-text">
              <%=  x.name %>
            </h6>

            <%= link_to "Buy now", edit_raffle_path(:id => x.id), :class => "button" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>				


</div><!-- end container -->		
