<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button class="navbar-toggle" /assets-target=".navbar-responsive-collapse" /assets-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><img class="navbar-22" src="/assets/raffle_logo.jpg" alt="Prestie" ></a>

      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
          <%= link_to "Raffle it!", raffles_path  %>
          </li>													
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li>
          <input id="navbar-search-item" type="text" placeholder="Look for..." class="form-control" >
          </li>
        </ul><!-- end nav pull-right -->
      </div><!-- end nav-collapse -->


    </div> <!-- end container -->
  </div><!-- end navbar -->		

  <div class="row top-row">			
    <% @rafles.each do |x| %>
    <div class="col-3">
      <div class="panel no-border centered-content raffle-item-interspace">			
        <img src="/assets/winch12Vpower.jpg" style="width: 150px; height: 100px;"/>
      </div><!-- end panel -->
      <h6 class="centered-content raffle-thumbnail-text">
      <%=  x.name %>
      </h6>
      </div>
    <% end %>
  </div>				


</div><!-- end container -->		
