/*

My Custom CSS
=============

*/

#navbar-search-item {
	margin-top: 7px;
}

#selectable-raffle-item-thumbnails .selectable-raffle-item {
	margin-left: 20px;
	margin-right:20px;
	margin-bottom: 30px;
	float: left;	
}

#selectable-raffle-item-thumbnails  .ui-selecting { background: #C8C8C8; }
#selectable-raffle-item-thumbnails  .ui-selected { background: #6699FF; color: white; }

.raffle-thumbnail-text {
	margin-top: -22px;
	margin-bottom: 30px;
	/*color: red;*/
}

.raffle-item-thumbnail-img {
	width: 150px; 
	height: 100px;
	box-shadow: 0px 2px 10px 2px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 2px 10px 2px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(119, 119, 119, 0.75);
	height: 203px;
	width: 250px;
	margin-bottom: 30px;
}

#raffle-item-full-dialog {}

/* --------------------------------------
   Layout
   -------------------------------------- */


footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
.navbar-22 {
	height: 22px;
}   
   



/* --------------------------------------
   Global Styles
   -------------------------------------- */

body{
	margin-top :100px;
}

.data-row {
	margin-bottom: 15px;
}

.hidden {
	visibility: hidden;
	display: none;
}

.no-bullet-list {
	list-style-type: none;
}

.img-portrait {
	width: 100px; 
	height: 100px;
}

.centered-content {				
	text-align: center;
}

.justiftied-content {
	text-align: justify;
}

.left-content {
	text-align: left;	
}

.right-content {
	text-align: right;
}

.bold-content {
	font-weight: bold;
}

.full-width-content {
	width: 100%;
}

.row-gap-10 {
	margin-bottom: 10px;
}

.paypal-col {
	background-color: orange; 
	height: 75px;
}