/*

My Custom CSS
=============

*/

#navbar-search-item {
	margin-top: 7px;
}

.raffle-thumbnail-text {
	margin-top: -11px;
}

/* --------------------------------------
   Layout
   -------------------------------------- */


footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
.navbar-22 {
	height: 22px;
}   
   



/* --------------------------------------
   Global Styles
   -------------------------------------- */
.top-row{
	margin-top :100px;
}

.data-row {
	margin-bottom: 15px;
}

.hidden {
	visibility: hidden;
	display: none;
}

.no-bullet-list {
	list-style-type: none;
}

.img-portrait {
	width: 100px; 
	height: 100px;
}

.centered-content {				
	text-align: center;
}

.justiftied-content {
	text-align: justify;
}

.left-content {
	text-align: left;	
}

.right-content {
	text-align: right;
}

.bold-content {
	font-weight: bold;
}

.img-60 {
	width: 60px;
	height: 60px;
}

.img-35 {
	width: 35px;
	height: 35px;
}

.full-width-content {
	width: 100%;
}

#selectable-raffle-item-thumbnails div {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.raffle-item-thumbnail-img {
  width: 150px;
  height: 100px;
}

.nice_form {
  width: 1000px;
  /*height: 165px;*/
  margin-left: 10%;
  margin-right: 40%;
  /*background: #f6f9fa url(/assets/bg.png) left -250px repeat;*/
  background-size: 50%;
  border-top: solid 1px rgba(23,45,53,0.08);
  border-bottom: solid 1px rgba(23,45,53,0.08);
  padding-top: 130px;
  padding-bottom: 140px;
  text-align: center;
}
.cool_label {
  width: 106px;
}
.cool_field {
  margin-bottom: 10px;
}
.special_row {
  margin-top: 10px;
}
.paypal-button {
 display:inline-block
}
.paypal-group {
  float: left;
}
.cooler {
  display:inline-block;
}
