/*

My Custom CSS
=============

*/

#navbar-search-item {
	margin-top: 7px;
}

.raffle-thumbnail-text {
	margin-top: -11px;
}

/* --------------------------------------
   Layout
   -------------------------------------- */


footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
.navbar-22 {
	height: 22px;
}   
   



/* --------------------------------------
   Global Styles
   -------------------------------------- */


.img-60 {
	width: 60px;
	height: 60px;
}

.img-35 {
	width: 35px;
	height: 35px;
}

.full-width-content {
	width: 100%;
}

#selectable-raffle-item-thumbnails div {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.raffle-item-thumbnail-img {
  width: 150px;
  height: 100px;
}

.cool_label {
  width: 106px;
}
.cool_field {
  margin-bottom: 10px;
}
.special_row {
  margin-top: 10px;
}
.paypal-button {
 display:inline-block
}
.paypal-group {
  float: left;
}
.cooler {
  display:inline-block;
}
*/*/*/